[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:vim-scripts/closetag.vim.git
[submodule "bundle/nerdtree-git"]
	path = bundle/nerdtree-git
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = git@github.com:vim-scripts/Conque-Shell.git
